{
  "profiles": {
    "user-001": {
      "id": "user-001",
      "login": "example-login",
      "password": "example-password",
      "country": "Germany",
      "country_code": "DE",
      "first_name": "Max",
      "last_name": "Mustermann",
      "verification_code": "123456"
    }
  }
}
